.btn-position {
	text-align: center;
}
.login {
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	background: gray;
}
#login-form {
	text-align: center;
	width: 30%;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	background: skyblue;
	display: none;
}
input, button {
	width: 50%;
	text-align: center;
	margin: 2px auto;

}